.clear{
    clear: both;
}

#vh-main-wrapper {
     width: 100%;
     display: block;
     background-color: #333;
    
}


/* ==============top line====================*/

.vh-top-line {
    
    height: 40px;
    width: 100%;
    background: #6d4595;
} 

.vh-wrapper-990 {
   width: 990px;
   margin:  0 auto;  
}

.z-phone{
    width: auto;
    float: right;    
}
.z-phone a {
    text-decoration: none;
    color: #ffdd2e;
    font: 14px/19px "Open Sans", sans-serif;
}
.z-phone a div {
    padding: 10.5px 0px!important;
    width: 195px;
    text-align: center;
    /*background: #3c3c3c; */
    background: #6900a1!important;
}
.z-phone a:hover div {
    background: #444444;
    color: #ffdd2e;
}

.slogan{
    float: left;
    padding: 10.5px 30px!important;
    margin-left: 30px;
    color: #fff;
    font: 14px/19px "Open Sans", sans-serif;
}

.vh-top-phone {
    float: left;
    font: 14px/19px "Open Sans", sans-serif;
    /*background: #3c3c3c!important; */
    background: #6900a1!important;
    padding: 10.5px 25px;
    color:#fff;
}
.vh-top-phone span{
    background:url("../images/ico-phone.png") left center no-repeat ;
    padding: 9px 0px 9px 40px;
   
    
}
/*========header======================================*/

.vhg-header {
    padding: 14px 0px;
    background: #f2f2f2;
    height: 60px;
}

.vh-logo {    
    float: left;
}

.main-menu{
    float: right;
      margin: 10px 0px;
      list-style: none;
}
.main-menu li{
    float: left;

    margin-left: 10px;

    
}

.main-menu li.active a div{
    background: #ffca0f;
    text-shadow: 0 1px 0 #fff022;
    border: solid #fff026;
    border-width: 1px 1px 0 1px;
}
.main-menu li.active a:hover div{
    background: #ffca0f;
}

.main-menu li a:active {
    background: red;
}

.main-menu li a {
    text-decoration: none;
    color:#4d4d4d;
    text-transform: uppercase;
    font-weight: 700;
    font: bold 14px/18px "Open Sans", sans-serif;
}
.main-menu li a div{
    
    background: #ffdd2e;

    padding: 10.5px 20px;

    border: solid #fff650;
border-width: 1px 1px 0 1px;
box-shadow: 0 1px 1px 0px #B29B23;
border-radius: 5px;
text-shadow: 0 1px 0 #fff650;
}
.main-menu li a:hover div{
    background: #ffd500;
}


/*============slider============================*/

.vh-slider-wrapper {

    padding: 18px 0px 18px 0px;

   height:  210px;
    background-color:#fff;
    box-shadow: 0 0 5px rgba(0,0,0,.1)
    //border: 1px solid red;    
}

.vh-slider-container {
    width:988px;
	margin:0 auto;
    border: 1px solid #d7d7d7;
	position:relative;
	z-index:0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    
    background:url("../images/slider-1.jpg")  no-repeat ;
    height: 200px;
    
    
}


/*================content================================*/

.vh-content-wrapper {
    
    background:#f6f6f6 no-repeat center;
    padding: 30px 0px 30px 0px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);

    
}

.vh-wrapper-m1050 {
   border-radius: 5px;
    min-width: 990px;
    max-width: 1050px;
    background: #fff ;
    padding: 25px 30px 30px 30px;
    margin: 0 auto;
    margin-bottom: 30px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    //height: 300px;
    
}

.vh-crumbs {    
    margin-bottom: 5px;
    margin-left: 255px;
}

.vh-crumbs a{
    font-size: 12px;
    text-decoration: none;
    color: #6d4595;
    
}

.vh-left-box {
    float: left;
width: 195px;
//position: relative;
z-index: 3;
margin-right: 60px;

    
}

.vh-right-box {
     float: left;
    width:735px ;
    
}

.vh-footer-menu {
    padding: 23px 0px 37px 0px ;
    background: #fff;
    height: 120px;
    
}

.vh-footer{
    padding: 20px 0px;
    font: 12px/20px "Open Sans", sans-serif;
}

.vh-cop{
    color:#fff;
    width: 480px;
    float: left;
}
.vh-sitecom{
    float: right;
    text-align: right;
    color:#fff;
}


#news-title {
    
    font-size: 1.7em ;
    color:#6d4595;
    text-transform: uppercase ;
    //text-decoration: underline;
}


