.clear{
    clear: both;
}

#vh-main-wrapper {
     width: 100%;
     display: block;
     background-color: #333;
    
}


/* ==============top line====================*/

.vh-top-line {
    
    height: 40px;
    width: 100%;
    background: #6d4595;
} 

.vh-wrapper-990 {
   width: 990px;
   margin:  0 auto;  
}

.z-phone{
    width: auto;
    float: right;   
    padding: 10.5px 15px!important;
    background: #6900a1!important;
}
.z-phone a {
    text-decoration: none;
    color: #fff;
    font: 14px/19px "Open Sans", sans-serif;
}
.z-phone a div {
    padding: 10.5px 0px!important;
    width: 195px;
    text-align: center;
    /*background: #3c3c3c; */
    background: #6900a1!important;
}
.z-phone a:hover div {
    background: #444444;
    color: #ffdd2e;
}

.slogan{
    float: left;
    padding: 10.5px 30px!important;
    margin-left: 30px;
    color: #fff;
    font: 14px/19px "Open Sans", sans-serif;
}

.vh-top-phone {
    float: left;
    font: 14px/19px "Open Sans", sans-serif;
    /*background: #3c3c3c!important; */
    background: #6900a1!important;
    padding: 10.5px 25px;
    color:#fff;
}
.vh-top-phone span{
    background:url("../images/ico-phone.png") left center no-repeat ;
    padding: 9px 0px 9px 40px;
   
    
}
/*========header======================================*/

.vhg-header {
    padding: 14px 0px;
    background: #f2f2f2;
    height: 60px;
}

.vh-logo {    
    float: left;
}


/*============slider============================*/

.vh-slider-wrapper {

    padding: 18px 0px 18px 0px;

   height:  210px;
    background-color:#fff;
    box-shadow: 0 0 5px rgba(0,0,0,.1)
    //border: 1px solid red;    
}

#vh-slider-container {
    width:988px;
	margin:0 auto;
    border: 1px solid #d7d7d7;
	position:relative;
	z-index:0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    
    //background:url("../images/slider-1.jpg")  no-repeat ;
    height: 200px;
    
    
}


/*================content================================*/

.vh-content-wrapper {
    
    background:#f6f6f6 no-repeat center;
    padding: 30px 0px 30px 0px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);

    
}

.vh-wrapper-m1050 {
   border-radius: 5px;
    min-width: 990px;
    max-width: 1050px;
    background: #fff ;
    padding: 25px 30px 30px 30px;
    margin: 0 auto;
    margin-bottom: 30px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    //height: 300px;
    
}

.vh-crumbs {    
    margin-bottom: 5px;
    margin-left: 255px;
}

.vh-crumbs a{
    font-size: 12px;
    text-decoration: none;
    color: #6d4595;
    
}

.vh-left-box {
    float: left;
width: 195px;
//position: relative;
z-index: 3;
margin-right: 60px;

    
}

.vh-right-box {
     float: left;
    width:735px ;
    
}

.vh-footer-menu {
    padding: 10px 0px  ;
    background: #fff;
    height: 50px;
    
}

.vh-footer{
    padding: 20px 0px;
    font: 12px/20px "Open Sans", sans-serif;
}

.vh-cop{
    color:#fff;
    width: 480px;
    float: left;
}
.vh-sitecom{
    float: right;
    text-align: right;
    color:#fff;
}

.vh-footer-down-menu {
    float:right;
    word-spacing: 6px;
    font-size: 14px;
    margin-top: 20px;
    
}

.vh-footer-down-menu a{
    //color: rgb(144, 144, 144);
    color:black;
    word-spacing:normal;
    font: Arial, Helvetica, sans-serif;
}

.btl a {
    color: #6d4595;
}

.vh-sidebar {width: 176px;
margin: 20px 0px}

.vh-buy {background: #6900a1!important;
border-radius: 5px;
padding: 10px 0px;
color:white;
height: 50px;
font-size: 18px;
text-align: center}

.vh-buy a {
    color:white;
    margin: 0 auto;
    padding-top: 10px;
}

#news-title {
    
    font-size: 16px;
    color:#6d4595;
    text-transform: uppercase ;
    padding-bottom: 5px;
   border-bottom:  1px solid black;
    //text-decoration: underline;
}

#hr-footer {
    height: 5px;
    color: rgb(212, 212, 212);
    background: rgb(212, 212, 212);
    border: 0px;
    margin: 0px;
}


.landpage {
    width: 320px;
    float:left;
    margin-left: 5px;
   // border: 1px solid red;
}

.landpage-right {width: 300px;
    float:right;
    margin-left: 5px;}


.vh-fb{
    //max-height: 400px;
    overflow: hidden;
}

.vh-fb-title {
font: italic bold 20px/40px "Open Sans", sans-serif;
text-transform: uppercase;
position: relative;
margin-bottom: 5px;
}

.plus-menu {
    list-style: none;
}

.plus-menu ul{
    margin:0 0 18px 0;
}

.plus-menu a {
    text-transform: uppercase;
font-weight: 700;
font: bold 14px/18px "Open Sans", sans-serif;
color: #4d4d4d;

}

.plus-menu li {    
    padding-left: 30px;
   padding-bottom: 1px;
   background: url("../images/yes.png") left 0px no-repeat;
   margin-bottom: 25px;
   //height: 25px;
}


.plus-menu div {
    padding-top: 2px;
}

.vh-social {
    float:left;
}

.z-call-btn {}