
.neon {position:absolute;top:0;right:0;font-size:8px;color:#cccccc;}
.neon a {color:#cccccc;text-decoration:none;font-weight:normal;}
.neon a:hover {color:#cccccc;text-decoration:none;font-weight:normal;}
.neon {font-size: 80px;font-family: Verdana;color: #999900;font-weight: bold;text-decoration: overline;text-shadow:0 0 10px #ffffff,0 0 20px #ffffff,0 0 30px #ffffff,0 0 40px #999900,0 0 70px #999900,0 0 80px #999900,0 0 100px #999900,0 0 170px #999900;}
/* CSS by GenerateCSS.com */


